<p>
  <strong>Title:</strong>
  <%= @article.title %> 
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back to all', articles_path %>

<% # calling the instance variable @article in show method %>